@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400&display=swap');

body {
  background-color: #e7dfd8;
  font-family: 'Red Hat Display';
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2rem;
  padding: 5px 15px;
  justify-content: center;
}

.footer-text {
  font-size: small;
  text-align: center;
}

.App-header {
  font-size: medium;
}
